<!DOCTYPE html>
{% extends 'index.html' %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="row">
          <div class="col-12">
            <div class="card">
<!--              <div class="card-header">-->
<!--                <h3 class="card-title">Responsive Hover Table</h3>-->

<!--                <div class="card-tools">-->
<!--                  <div class="input-group input-group-sm" style="width: 150px;">-->
<!--                    <input type="text" name="table_search" class="form-control float-right" placeholder="Search">-->

                    <div class="input-group-append">
<!--                      <button type="submit" class="btn btn-default">-->
<!--                        <i class="fas fa-search"></i>-->
<!--                      </button>-->
                    </div>
                  </div>
                </div>
              </div>
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                  <thead>
                    <tr>
                        <th>Name</th>
                        <th>Mobile Number</th>
                        <th>Email Address</th>
                        <th>Image</th>
                        <th>Username</th>
                        <th>Password</th>
                        <th>Confirm Password</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for d in data %}
                  <tr>
                      <td> {{d.Name}}</td>
                      <td> {{d.Mobile}}</td>
                      <td> {{d.Email}}</td>
                       <td>
                          <img width="50px" src="{{d.Image.url}}">
                      </td>
                      <td>{{d.Username}}</td>
                      <td>{{d.Password}}</td>
                      <td>{{d.Confirm}}</td>
                      <td>
                          <form action="{% url 'editadminpage' dataid=d.id %}">
                          <button onclick="alert('You wanna Edit?')" type="submit">EDIT</button>
                          </form>
                      </td>
                       <td>
                          <form action="{% url 'deleteadminpage' dataid=d.id %}">
                          <button onclick="alert('Are you sure?')" type="submit">DELETE</button>
                          </form>
                      </td>

                  </tr>
                  {% endfor %}
<!--                    <tr>-->
<!--                      <td>183</td>-->
<!--                      <td>John Doe</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-success">Approved</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>219</td>-->
<!--                      <td>Alexander Pierce</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-warning">Pending</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>657</td>-->
<!--                      <td>Bob Doe</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-primary">Approved</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
<!--                    <tr>-->
<!--                      <td>175</td>-->
<!--                      <td>Mike Doe</td>-->
<!--                      <td>11-7-2014</td>-->
<!--                      <td><span class="tag tag-danger">Denied</span></td>-->
<!--                      <td>Bacon ipsum dolor sit amet salami venison chicken flank fatback doner.</td>-->
<!--                    </tr>-->
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>

</body>
</html>
{% endblock %}